%div{ :class=>'navbar navbar-inverse navbar-fixed-top'}
	%div{ :class=>'navbar-inner'}
		%div{ :class=>'container-fluid'}
			= button_tag nil, :class => 'btn btn-navbar', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' do
				%div{ :class=>'icon-bar'}
				%div{ :class=>'icon-bar'}
				%div{ :class=>'icon-bar'}			
			= link_to 'Rotten Potatoes!!!', movies_path, :class => 'brand'
